@{
    ViewBag.Title = "Rating - Home Page";
}

<h1>RATINGS</h1>

<form action="DrawRating">
    <input type="number" min="0" max="100" name="rating" value="@ViewBag.Rating" />
    <input type="submit" value="Rate" />
</form>

@Html.Raw(ViewBag.Stars)